/* Empty. Add your own CSS if you like */

h1 {
	/*font-family: 'Ubuntu', Arial, sans-serif; 
	font-weight: 400;*/
	font-family: 'Titillium Web', Arial, sans-serif;
	font-size: 1.7em;
	color: white;
	padding-top: 5px;
}


/*h1 { font-family: 'Metrophobic', Arial, serif; font-weight: 400; }*/